node_modules
dist
.env
*.log
.DS_Store
tree.js
structure.txt
conception.txt
.\client\src\components\dashboard\dashboard design.png
.\client\src\components\dashboard\detailed card pop ups design.png
.vscode

# Electron
out/
build/

# Database
*.db
*.db-journal